[submodule "ext/libav"]
	path = ext/libav
	url = git://github.com/andoma/libav.git
[submodule "ext/rtmpdump"]
	path = ext/rtmpdump
	url = git://github.com/andoma/rtmpdump.git
[submodule "ext/xmp"]
	path = ext/xmp
	url = git://github.com/andoma/xmp
[submodule "ext/libntfs_ext"]
	path = ext/libntfs_ext
	url = https://github.com/andoma/libntfs_ext.git
[submodule "ext/gumbo-parser"]
	path = ext/gumbo-parser
	url = https://github.com/google/gumbo-parser
[submodule "android"]
	path = android
	url = andoma@git.lonelycoder.com:movian-android.git
[submodule "ios/freetype2-ios"]
	path = ios/freetype2-ios
	url = https://github.com/andoma/freetype2-ios.git
[submodule "ext/vmir"]
	path = ext/vmir
	url = https://github.com/andoma/vmir
