/build.*
config.default
*~
ps3support
wiisupport
support/traceprint/traceprint
core*
glwthemes/test/
ext/sqlite/sqlite3
._*
.DS_Store
debian/changelog
.downloadcache
android/Showtime/bin/
android/Showtime/gen/
android/Showtime/libs/
*.xcuserstate
project.xcworkspace/
xcuserdata/
InfoPlist.h
