html,body {
    font-family: 'Helvetica Neue', Arial, Helvetica, Geneva, sans-serif;
    margin:0;
    padding:0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#141414, #3c3c3c);
}


#appcontainer {
    height: 100vw;
    width: 100vh;
}

embed {
    height: 100vh;
    width: 100vw;
}

#loader {
    display:none;
    z-index: 999;
    width: 600px;
    height: 400px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#loader div {
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
}

#loader img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 128px;
    animation: rot 6s infinite ease-in-out;
}


@keyframes rot {
  0% {
    transform: perspective(500px) rotateX(0deg);
  } 100% {
    transform: perspective(500px) rotateX(-360deg);
  }
}