Source: hts
Section: main
Priority: extra
Maintainer: Andreas Öman <andreas@lonelycoder.com>

Package: hts-showtime
Architecture: any
Depends: ${shlibs:Depends}
Suggests: hts-tvheadend
Description: OpenGL based Mediaplayer
 An OpenGL based media player focused for use as a home-entertainment-system.
 Based on ffmpeg 'http://www.ffmpeg.org'.
