Source: showtime
Section: main
Priority: extra
Maintainer: Andreas Öman <andreas@lonelycoder.com>
Build-Depends: debhelper (>= 7.0.50)

Package: showtime
Section: main
Architecture: any
Depends: ${shlibs:Depends}
Description: OpenGL based Mediaplayer
 An OpenGL based media player focused for use as a home-entertainment-system.
 Based on ffmpeg 'http://www.ffmpeg.org'.

Package: showtime-dbg
Section: debug
Architecture: any
Depends: showtime (= ${Source-Version})
Description: Debug symbols for Showtime
