<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>showtime</string>
	<key>CFBundleIconFile</key>
	<string>hts</string>
	<key>CFBundleIdentifier</key>
	<string>com.lonelycoder.showtime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Showtime</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>SHTI</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
        
	<!-- output from Info.plist.py -->
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AVI container</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hts</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MPEG container</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mpg</string>
				<string>mpeg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hts</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>ISO disc image</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iso</string>
				<string>bin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hts</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>OGG audio file</string>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ogg</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/ogg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>hts</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>htsp url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>htsp</string>
			</array>
			<key>CFBundleURLIconFile</key>
			<string>generic</string>
		</dict>
	</array>
</dict>
</plist>
